header {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-left: 5vw;
  display: inline-block;
  width: fit-content;
  font-size: 50px;
  font-style: italic;
  margin: 0;
}

.menu {
  list-style-type: none;
  display: inline-flex;
  width: 18vw;
  justify-content: space-around;
}

li {
  border-right: 1px solid black;
  padding-right: 1vw;
  height: 20px;
}

li:last-child {
  border-right: none;
}

.content {
  padding-left: 5vw;

  display: flex;
  justify-content: space-between;
}

.content-text {
  max-width: 50vw;
}

h3 {
  font-size: 30px;
  margin-top: 10px;
}

.tall {
  font-weight: 300;
  font-family: sans-serif;
}

.content-menu {
  list-style-type: circle;
  padding-left: 16px;
}
.content-menu-li {
  border: none;
}

.lamp {
  margin-right: 5vw;
}

footer {
  padding-left: 5vw;

  background-color: #c1c1c1;
  display: flex;
  justify-content: space-between;
  margin-top: 7vh;
  height: 29vh;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.footer-head {
  font-size: 30px;
  font-weight: 200;
  font-family: sans-serif;
  font-style: italic;
  color: gray;
}

.italic {
  font-style: italic;
}

.fp {
  margin: 0;
}
.footer-menu {
  display: flex;
  justify-content: space-around;
}

.right {
  margin-right: 9vw;
  width: 40vh;
  text-align: center;
}
.footer-menu-left {
  display: flex;
  flex-direction: column;
}

.footer-menu-right {
  display: flex;
  flex-direction: column;
}